@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактирование</title>
</head>
<body>
    <div>
        <h3>Форма внесения изменений</h3>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.StudentId" name="StudentId" />
            <table>
                <tr>
                    <td><p>Введите свое имя </p></td>
                    <td><input type="text" name="Name" /> </td>
                </tr>
                <tr>
                    <td><p>Введите новый рейтинг :</p></td>
                    <td>
                        <input type="text" name="NewRating" />
                    </td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>